@import url('https://fonts.googleapis.com/css?family=Exo');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #4CDCCE;

}
section {
	padding:5em 0;
}
p {
	font-family: 'Exo', sans-serif;
	font-size:18px;
	line-height: 1.2em;

}

h1 {
	color: white;
	font-size: 50px;
}

h2 {
	font-size: 23px;
}

h3{
	font-size: 30px ;
}
img {
	width:100%;
}
.wrapper {
	width:600px;
	margin:auto;
}
#slogan {
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
}
