body {
	background-color: #4CDCCE;
	text-align: center;
}

#slogan {
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
}

h1 {
	color: white;
	font-size: 50px;
}

h2 {
	font-size: 23px;
}

h3{
	font-size: 30px ;
}
